/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container-column-box .calendar-event {
  color: var(--color-white);
  margin-top: 0.5rem;
  font-size: small;
  background-color: var(--color-blue);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
}

.container-column-box .calendar-event:hover {
  opacity: 0.8;
}
