.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "col1 col2 col3 col4 col5 col6";
  /* gap: 0.5rem; */
  height: 100vh;
  width: 100%;
}

.container-column > p {
  padding: 1rem;
}

.container-column-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  height: 20vh;
  padding: 1rem 0 0 1rem;
  border-bottom: 0.1rem solid var(--color-grey);
  overflow: auto;
}

.container-column-box:hover {
  background-color: var(--color-overlay);
  color: var(--color-black);
  transition: 0.3s;
}

.container-column-box.current-day {
  background-color: var(--color-overlay);
}

.container-column-box .calendar-event {
  color: var(--color-white);
  margin-top: 0.5rem;
  font-size: small;
  background-color: var(--color-blue);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 1rem;
}

.container-column-box-empty {
  border-bottom: 0.1rem solid var(--color-grey);
  /* background-color: var(--color-red); */
  height: 20vh;
}

.container-column-box-empty::before {
  content: "\00a0";
}
